<html>

<body>
  <!-- Sub Header -->
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-8">
          <div class="left-content">
            <p>Welcome to the SkyLine Institute!</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-4">
          <div class="right-icons">
            <ul>

              <a href="#"><i class="fa fa-instagram"></i></a>
              <!-- <a href="#"><i class="fa fa-twitter"></i> </a> -->
              <a href="#"><i class="fa fa-whatsapp"></i></a>
              <a href="#"><i class="fa fa-facebook"></i></a>

              <a href="#"><i class="fa fa-linkedin"></i></a>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- Main Header -->
 <header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="navbar navbar-expand-lg navbar-light">
          <!-- Logo -->

          <!-- <a routerLink="" class="navbar-brand"> <img src="https://c8.alamy.com/comp/RM91T3/a-lettering-logo-simple-logo-type-letter-a-RM91T3.jpg" alt=""> </a> -->

          <a routerLink="" class="navbar-brand">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM5Zm7A3giBg_3RoESGCUSkLLucjfNOFXOfA&s" alt="Logo" class="logo">
          </a>


          <!-- Mobile Menu Trigger -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navigation Menu -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a routerLink="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a routerLink="/about" class="nav-link">About Us</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tools
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a routerLink="/upcoming-courses" class="dropdown-item">Upcoming Courses</a></li>
                  <li><a routerLink="/learning-tool" class="dropdown-item">Learning Tool</a></li>
                  <li><a routerLink="/current-affair" class="dropdown-item">Current Affair</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a routerLink="/courses" class="nav-link">Courses</a>
              </li>
              <li class="nav-item">
                <a routerLink="/faq" class="nav-link">FAQs</a>
              </li>
              <li class="nav-item">
                <a routerLink="/contactus" class="nav-link">Contact Us</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>


</body>

</html>
